body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @media (min-width: 1536px) {
  .container {
    max-width: 1336px !important;
    margin: 0 100px !important;
  }
} */
.react-confirm-alert-overlay {
  background-color: rgba(0, 0, 0, 0.538) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
