.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 250px;
    height: 100vh;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 700;
    height: 110px;
    color: var(--primary);
    z-index: 500;
    margin-top: 30px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span {
    color: var(--dark);
}

.sidebar .logo .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 10px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 9px;
    padding: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.logo-section {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-text {
    position: static;
    font-size: 19.5px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 70px;
    font-family: Tahoma, 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #c08bde, #e893b2, #6fb1ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.43s ease;
}

.sidebar-link {
    display: flex;
    align-items: center;
    position: relative;
    font-family: Tahoma, 'Segoe UI', sans-serif;
}

.sidebar-item-indicator {
    width: 4px;
    height: 95%;
    background-color: transparent;
    position: static;
    left: 0;
}

.sidebar-link:hover .sidebar-item-indicator {
    background-color: lightseagreen;
}

.side-menu a:hover {
    margin-left: .75rem;
    color: var(--color-danger);
}

.sidebar .side-menu {
    width: 100%;
    position: relative;
    z-index: 1;
}

.sidebar .side-menu li a:hover {
    color: lightseagreen;
}

.sidebar.close .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: all 0.43s ease;
}

.sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout {
    color: var(--danger);
}