#col:hover #text-content {
    background-image: linear-gradient(to bottom, #ff8fab, #FB6F92);

}

#col:hover #text-content p {
    color: white;
    transition: color 0.5s;
}

#col #img-main {
    position: relative;
    overflow: hidden;
}

#col #img-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    /* Bắt đầu ở ngoài phần visible của hình ảnh */
    width: 50%;
    /* Chiều dài của đường sáng */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2)0%, transparent 50%);
    /* Màu sắc của đường sáng */
    transition: left 0.5s ease;
    /* Tạo hiệu ứng chuyển động */
    transform: skewX(-15deg);
    /* Nghiêng chéo */
}

#col #img-main:hover::before {
    left: 110%;
    transition: left 0.5s ease;
    /* Tạo hiệu ứng chuyển động */
}

#col #img-main::before {
    transition: none;
    /* Loại bỏ transition khi không hover */
}
